body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35363a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formContainer {
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#loginForm {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

#loginForm input {
  width: 30vw;
  padding: 10px;
  outline: none;
}

#loginForm button {
  padding: 10px;
  border: none;
  background-color: #23d023;
  cursor: pointer;
  border-radius: 5px;
}